.tableCell {
    background-color: inherit !important;
    color: inherit !important;
    padding: 0 !important;
}

$playButtonMaxWidth: 40px;
$durationMaxWidth: 60px;

.playButtonCell {
    max-width: $playButtonMaxWidth;
    min-width: $playButtonMaxWidth;
}

.durationCell {
    max-width: $durationMaxWidth;
    min-width: $durationMaxWidth;
}

.tableCellText {
    max-width: 200px;
}