$headerHeight: 50px;

.libraryContainer {
    width: 100%;
    text-align: right;
}

.libraryTableContainer {
    width: 100%;
    height: calc(100% - $headerHeight);
}

.libraryHeaderContainer {
    width: 100%;
    height: $headerHeight;
}
