$navBarWidth: 172px;

.navDrawer {
    width: 3em;
    color: inherit !important;
    background-color: inherit !important;
}

.drawerPaper {
    background-color: inherit !important;
    color: inherit !important;
    width: $navBarWidth;
}
