.navDrawer {
    width: 3em;
    flex-shrink: 0;
    color: inherit !important;
    background-color: inherit !important;
}

.drawerPaper {
    background-color: inherit !important;
    color: inherit !important;
    width: 8em;
}

.link {
    text-decoration: none;
    color: inherit !important;
}

.icon {
    color: inherit !important;
}