$playingSongInfoHeight: 102px;

.songInfoContainer {
    position: relative;
    width: 100%;
    background-color: darkslateblue;
}

.progressBarContainer {
    height: 20px;
    width: 100%;
    background-color: lightblue;
}

.progressBarFill {
    height: 100%;
    background-color: purple;
    border-radius: inherit;
}

.songInfoParts {
    display: flex;
}

.playbackButtonsContainer {
    $playbackButtonsWidth: 120px;
    $buttonWidth: 40px;
    position: sticky;
    left: calc(50vw - 60px);
    width: $playbackButtonsWidth;
    min-width: $playbackButtonsWidth;
    bottom: 25%;
    .previousButton {
        position: sticky;
        left: 0;
        right: calc(100% - $buttonWidth);
    }
    .playButton {
        position: sticky;
        left: calc(50% - ($buttonWidth / 2));
        right: calc(50% - ($buttonWidth / 2));
    }
    .nextButton {
        position: sticky;
        left: calc(100% - $buttonWidth);
        right: 0;
    }
}