$playingSongInfoHeight: 102px;

.songInfoContainer {
    position: relative;
    width: 100%;
    background-color: darkslateblue;
}

.progressBarContainer {
    height: 20px;
    width: 100%;
    background-color: lightblue;
}

.progressBarFill {
    height: 100%;
    background-color: purple;
    border-radius: inherit;
}

.songInfoParts {
    display: flex;
}

.playIconContainer {
    position: sticky;
    left: calc(50vw - 10%);
    width: 20%;
    bottom: 25%;
}