$playingSongInfoHeight: 102px;

.songInfoContainer {
    position: relative;
    width: 100%;
    background-color: darkslateblue;
}

.progressBarContainer {
    height: 20px;
    width: 100%;
    background-color: lightblue;
}

.progressBarFill {
    height: 100%;
    background-color: purple;
    border-radius: inherit;
}

.songInfoParts {
    display: flex;
}

.playIconContainer {
    position: sticky;
    left: calc(50vw - 10%);
    width: 20%;
    bottom: 25%;
}

.volumeSliderContainer {
    $sliderWidth: 125px;
    width: $sliderWidth;
    max-width: $sliderWidth;
    min-width: $sliderWidth;
    position: sticky;
    left: calc(100% - $sliderWidth);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}