.songTitleContainer {
    width: 30%;
    text-align: left;
    margin-left: 1em;
    margin-bottom: 1em;
    display: inline-block;
}

.artistName {
    font-size: 14px;
    color: lightgray;
}

.songTitle {
    font-size: 18px;
}