@use 'components/NavPanel.module.scss';
@use 'components/PlayingSongDock.module.scss';

.app {
    text-align: center;
}

.appContainer {
    position: relative;
    background-color: #282c34;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    flex: 1;
}

.playingSongDock {
    width: 100%;
    font-size: medium;
    height: PlayingSongDock.$playingSongDockHeight;
    z-index: 1201; // one more than the material ui drawer (nav bar)
    align-self: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    flex-shrink: 0;
}

.mainContent {
    width: calc(100% - NavPanel.$navBarWidth);
    min-height: 0;
    flex-basis: auto;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 1;
}
