.app {
    text-align: center;
}

.appContainer {
    position: relative;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.playingSongInfo {
    position: absolute;
    bottom: 1px;
    width: 100%;
}

.navDrawer {
    width: 3em;
    flex-shrink: 0;
    color: inherit !important;
    background-color: inherit !important;
}

.drawerPaper {
    background-color: inherit !important;
    color: inherit !important;
}

.link {
    text-decoration: none;
    color: inherit !important;
}

.icon {
    color: inherit !important;
}