.app {
    text-align: center;
}

.appContainer {
    position: relative;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.playingSongInfo {
    position: absolute;
    bottom: 1px;
    width: 100%;
}

.mainContent {
    width: calc(100% - 8em);
    align-self: flex-end;
}